{% extends './base.html' %}
{% load bootstrap %}
{% block content %}
	<h1> Cadastro de Livros</h1>
	 <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" name="action" class="btn btn-default">Cadastrar</button> 
    </form>
    
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
	{% endif %}
{% endblock %}